<div class="container">

<h1>Rooms</h1>

<h3><a href = "<%= new_room_path %>">Add a Room</a></h3>

		<% @rooms.each do |room| %>
			<div class="span5">
				<h2><a href="<%= room_path(room)%>"><%= room.title %></a></h2>
				<% if room.image.present? %>
			        <img src="<%= room.image.url %>"/>
			    <% end %>
				<h3><%= room.location %></h3>
				<p>posted by <a href="<%= user_path(room.user) %>"><%= room.user.email %></a> <%= time_ago_in_words( room.created_at ) %> ago </p>
			</div>
			<% end %>

</div>